{% extends 'Home/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="{% static 'css/Products/product-list.css' %}">
{% endblock %}

{% block content %}
<div class="scrolling-wrapper">
  {% include 'Snippets/product.html' with product_list=object_list cart=cart %}
</div>

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="{% static 'js/Products/product-list.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/Products/mainProductFile.js' %}"></script>
{% endblock %}
